##############################################
# wasi
/external
build/
install/

##############################################
# IDE
.vscode/


##############################################
# WLS
*Zone.Identifier
