##############################################
# git
.git-rewrite/

##############################################
# wasabi
/external/*
!external/llvm.tar.gz
build/
install/

##############################################
# IDE
.vscode/

##############################################
# clangd
.cache/



##############################################
# WLS
*Zone.Identifier
