##############################################
# wasabi
/external/*
!external/llvm_/
build/
install/

##############################################
# IDE
.vscode/

##############################################
# clangd
.cache/



##############################################
# WLS
*Zone.Identifier
