##############################################
# wasi
/external
build/
install/

##############################################
# IDE
.vscode/

##############################################
# installed/copied files
resources/
sqlite/